.auth-card {
    max-width: 500px;
    margin: auto;
}

.auth-card .card-body {
    padding: 20px 35px !important;
}

.btn-facebook {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
}

.btn-facebook:hover {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
}

.btn-twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
}

.btn-twitter:hover {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
}