.auth-card {
    max-width: 500px;
    margin: auto;
    
}

.auth-card .card-body {
    padding: 20px 35px !important;
}

.btn-facebook {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
    border-radius: 30px !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-facebook:hover {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
}

.btn-twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 30px !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-twitter:hover {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
}

.btn-success {
    border-radius: 30px !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 30px;
    
}